* { box-sizing: border-box; padding:0; margin: 0; }

body {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color:white;
    font-size:12px;
    background:#D8D8D8;
}

.wrapper
{
    width: 80%;
    margin: auto;
}

.alert{
    color: red;
    padding:10px;
}

/*Fondo del panel*/
.formulario-1 {

    width:420px;
    margin:3px auto;
    border-radius:0.4em;
//border:1px solid #ffffff;
    overflow:hidden;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d5b23+0,3c5e24+50,376a29+51,4e8433+100 */
    background: #2d5b23; /* Old browsers */
    background: -moz-linear-gradient(top,  #2d5b23 0%, #3c5e24 50%, #376a29 51%, #4e8433 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #2d5b23 0%,#3c5e24 50%,#376a29 51%,#4e8433 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #2d5b23 0%,#3c5e24 50%,#376a29 51%,#4e8433 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d5b23', endColorstr='#4e8433',GradientType=0 ); /* IE6-9 */



}

.formulario-1:after {
    content:"";
    display:block;
    position:absolute;
    height:1px;
    width:100px;
    left:20%;
    background:linear-gradient(left, #000000, #444, #b6b6b8, #444, #111);
    top:0;
}

.formulario-1:before {
    content:"";
    display:block;
    position:absolute;
    width:8px;
    height:5px;
    border-radius:50%;
    left:34%;
    top:-7px;
//box-shadow: 0 0 6px 4px #fff;
}

/*.inset {
    padding:20px;
    border-top:1px solid #19191a;
}*/
/*Fondo*/
.formulario-1 h1 {
    font-size:18px;
    text-shadow:0 0px 0 #ffffff;
    text-align:center;
    padding:15px 0;
    border-bottom:1px solid rgb(255, 255, 255);

}

.formulario-1 h1:after {
    content:"";
    display:block;
    width:250px;
    height:auto;
    top:0;
    left:50px;
    pointer-events:none;
    transform:rotate(70deg);
    -webkit-transform: rotate(70deg);


}

.formulario-2 {
    width:420px;
    margin:3px auto;
}


.label-1 {
    color: #ffffff;
    display:block;
    padding-bottom:9px;
}

.label-2 {
    padding:0px;
    color:black;
    font-weight:bold;
    font-size:18px;
}

.label-3 {
    padding:0px;
    color:black;
    font-weight:bold;
    font-size:15px;
}

.input-1[type=text],
.input-1[type=password] {
    width:100%;
    padding:8px 5px;
    background:white;
    border:1px solid #9a9ca3;
    box-shadow:
            0 1px 0 rgba(255,255,255,0.1);
    border-radius:0.3em;
    margin-bottom:20px;
}

.input-2[type=text]
{
    width:100%;
    padding:8px 5px;
    background:white;
    border:1px solid #9a9ca3;
    box-shadow:
            0 1px 0 rgba(255,255,255,0.1);
    border-radius:0.3em;
    margin-bottom:5px;
}

.input-2[type=text]:hover,
.input-2[type=password]:hover,
.input-2:hover ~ input[type=text],
.input-2:hover ~ input[type=password] {
    background: #F2F5A9;
}

.p-container {
    padding:10px 10px 10px 10px;
}

.p-container:after {
    clear:both;
    display:table;
    content:"";
}


.input-1[type=submit] {
    padding:5px 20px;
    border:1px solid rgba(0,0,0,0.4);
    text-shadow:0 -1px 0 rgba(0,0,0,0.4);
    box-shadow:
            inset 0 1px 0 rgba(255,255,255,0.3),
            inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius:0.3em;
    background: #40403F;
    color:white;
    font-weight:bold;
    cursor:pointer;
    font-size:13px;
}

.input-1[type=submit]:hover {
    box-shadow:
            inset 0 1px 0 rgba(255,255,255,0.3),
            inset 0 -10px 10px rgba(255,255,255,0.1);
}

.input-1[type=text]:hover,
.input-1[type=password]:hover,
.input-1:hover ~ input[type=text],
.input-1:hover ~ input[type=password] {
    background: #F2F5A9;
}

#div_logo
{
    width:auto;
    height: 100px;
    background-color: white;
}

#img_logo
{
    width:80%;
    height: auto;
    margin: 0% 5% 5% 5%;
}

.second-cont
{
    padding-left: 3%;
    padding-right: 3%;
}

#container-center
{
    margin-top:100px;
}
#content {
    width: 450px;
}

#close {
    float: right;
    font-weight: bold;
    color: red;
}

#element {
    margin: 0px auto;
    min-height: 100px;
    width: 450px;
    box-shadow: 0 2px 5px #666666;
    padding: 10px;
}

.container-center-A
{
    text-align: center;
}

.head-1
{
    font-size: 200%;
    font-weight: bolder;
    color: black;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: underline;
}

.respuestas
{
    padding: 10px;
}

.error
{
    color: red;
    font-size: 13px;
}

.mensaje
{
    color: white;
    font-size: 13px;
}

.mensaje2
{

    color: blue;
    font-size: 13px;
}

@media screen and (max-width:540px){
    .wrapper
    {
        width: 100%;
        margin: auto;
    }

    .formulario-1 {
        width:85%;
    }

    .formulario-2 {
        width:85%;
    }

    .head-1
    {
        margin-left: 1%;
    }

    #div_logo
    {
        width:auto;
        height: auto;
        background-color: white;
    }

    #img_logo
    {
        width:90%;
        height: auto;
        margin: 0% 5% 5% 5%;
    }
}

@media screen and (max-width:400px)
{
    .formulario-1 {
        width:99%;
    }

    .formulario-2 {
        width:99%;
    }

}




